<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jing.app.jjgallery.gdb">

    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GdbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.multiinstance.enable"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.STYLE"
            android:value="fixedRatio" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity android:name=".view.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.home.GHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.settings.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.star.StarSwipeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.star.phone.StarPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.star.pad.StarPadActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.star.StarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.record.phone.RecordPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.record.pad.RecordPadActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.record.RecordListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.record.RecordSceneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.surf.SurfHttpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.surf.SurfLocalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.game.RandomActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.settings.ManageActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.FileService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jing.app.jjgallery.gdb.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>